body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

.coloured-tapes {
    display: flex;
}

#one, #two, #three {
    height: 6px;
    width: calc(35%);
}

#one {
    background-color: #4BAF47;
}

#two {
    background-color: #C5CE38;
}

#three {
    background-color: #EEC044;
}

.header {
    display: flex;
    margin-top: 300px;
    justify-content: center;
    gap: 100px;
}

.header-images img {
    border-radius: 8px;
    width: 450px;
    height: auto;
}

.header-texts {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.know-us {
    font-weight: 400;
    font-size: 24px;
    font-style: italic;
    color: #EEC044;
}

.main-text {
    font-weight: 800;
    font-size: 48px;
    color: #1F1E17;
}

.green-text {
    font-weight: 700;
    font-size: 20px;
    color: #4BAF47;
}

.grey-text {
    font-weight: 500;
    font-size: 16px;
    color: #878680;
}

.checkmark-text-grp {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkmark-texts {
    display: flex;
    gap: 16px;
}

.discover {
    width: 196px;
    height: 60px;
    border: 0;
    border-radius: 10px;
    background-color: #4BAF47;

    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
}

.vid-container {
    margin-top: 32px;
    height: 616px;
    background-image: url(./images/sprouting-plants.png);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.vid-caption {
    font-weight: 800;
    font-size: 60px;
    text-align: center;
    color: #FFFFFF;
}

.services {
    height: 184px;
    background-color: #1F1E17;
    display: flex;
    align-items: center;
}

.services img {
    opacity: 10%;
    margin-right: 32px;
    width: 380px;
    height: auto;
}

.service-texts {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
}

.service-text {
    font-weight: 500;
    font-size: 18px;
    color: #A5A49A;
}